
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 150%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:60px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    
}

.h1{
    color: white;
    text-align: center;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    font-size: 32px;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutcontainer{
  display: flex;
  flex-direction: column;
  text-align: justify;
  box-shadow: 7px 7px 10px black;
  border: black solid 2px;
  border-radius: 10px;
  max-width: 800px;
  margin:40px auto;
}

.containerrow{
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.contact{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-top: black 2px dashed;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}
.contact a{
  padding-bottom: 3px;
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border: solid black 2px;
  border-radius: 4px;
}
.contact a:visited{
  text-decoration: none;
  color: black;
}
.contact a:hover {
  background-color: black;
  color: white;
  
}

.bigtitle{
  color:white;
  background-color: black;
  padding: 20px;
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  text-align: center;
}


.container{
  display: flex;
  flex-direction: row;
  text-align: justify;
  border-radius: 10px;
  margin: 40px 40px 0 40px;
  max-width: 800px;
}

.container img{
  max-height:238px;
  margin: 30px;
  border: black solid 4px;
  width: auto;
  display: block;
}

.button{
  display: flex;
  align-items: center;
}
.profile{
  max-height: 238px;
  height: auto;
  width: auto;
  margin: 10px;
  border: black solid 4px;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.block h2{
  border-bottom: solid black 2px;
  padding-bottom: 3px;
  text-align: center;
}


.portfolio{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 auto;
  
}

footer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height:60px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width:1024px) {


  .container{
    flex-direction: column;
    align-items: center;
  }

  .container a{

    width: fit-content;
    max-width: 600px;
  }
}

@media screen and (max-width:768px) {

  .aboutcontainer{
    box-shadow: none;
    border: none;
  }

  .containerrow{
    flex-direction: column;
    align-items: center;
  }

  .contact{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .contact a{
    margin: 10px;
  }

  .block{
    margin: 20px 20px 0 20px;
  }

}